header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;    
    flex-direction: column;
    width: auto;
}
.headerImage img {
    display: block;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;    
    max-width: 100%;
    height: auto;
    border: 1px solid black;       
}

.navBar {
    overflow:hidden;
    background-color: #F06856;
    border: 3px solid #56def0;

    
       
}

.navBar li {
    display: inline;    
    margin: 0 35px;   
    
    
}

.navBar a {    
    color: black;
    background-color: #F06856;
    text-align: center;   
    
}

.navBar a:hover {
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
}

.navBar input {
        
    margin: 0px 0px 0px 35px;
}