body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: #ffdd95;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;    
    flex-direction: column;
    width: 100%;
}
.headerImage img {    
    display: block;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;    
    max-width: 100%;
    max-height: 500px;
    height: auto;
    border: 1px solid black;
      
         
}

.navBar {
    overflow:hidden;
    background-color: #CBAC66;
    border: 3px solid #75AB85;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.anchors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar li {
    display: inline;
    font-size: 16px;    
    margin: 0 25px;   

}

.navBar a {    
    
    /* padding: 0 25px; */
    color: black;
    /* background-color: #F06856; */
    text-align: center;   
    
}

.navBar a:hover {
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
}

.navBar input {
    float: right;   
    margin: 0px 25px 0px 65px;
}

a:hover {
    color: black;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;

}